.ql-toolbar.ql-snow { border: none !important;}

.ql-container.ql-snow{ border: none !important;}

/** custom font **/
body {
  font-family: 'Poppins', sans-serif;
}

/**  custom scrollbar **/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #06b6d4;
}
::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}

.slick-slider .slick-slide {
  padding: 0 5px;
}